{% extends 'basic.html' %}

{% block title %} Login Page {% endblock title %}

{% block body %}

<section id="login">
<div class="container mt-5" >
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br><br><br><br><br><br>
            <h3 class="text-white bg-dark p-3 text-center rounded-2">Login Here</h3>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dissmissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <div class="card">
                <form action=" {% url 'login_page' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group p-3">
                        <h5><span><i class="bx bx-envelope"></i> Email </span></h5>
                        <input type="email" class="form-control" name="email" required>
                    </div>
    
                    <div class="form-group p-3">
                        <h5><span><i class="bx bx-key"></i> Password </span></h5>
                        <input type="password" class="form-control" name="pass1" required>
                    </div>
    
                    <div class="form-group p-3 text-center d-grid">
                        <button class="btn btn-dark" type="submit">Login</button>
                    </div>
                    <h6 class="text-center mt-2">New User? <a href=" {% url 'signup_page' %} ">SignUp</a></h6>
                </form>
            </div>
            
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</section>

{% endblock body %}