{% extends 'basic.html' %}
{% load static %}
{% block title %} Services {% endblock title %}

{% block body %}

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Samundra Khanal</h4>
            <p><em></em></p>
            <ul>
              <li>Bharatpur-12, Chitwan</li>
              <li>(+977) 9845988304</li>
              <li>aaerik534@gmail.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor's in Computer Science and Information Technology (BSc. CSIT)</h4>
            <h5>2018 - 2023</h5>
            <p><em>Birendra Multiple Campus, Tribhuvan University</em></p>
            <p>Successfully completed my Bachelor's degree with A grade.</p>
          </div>
          <div class="resume-item">
            <h4>Higher Secondary School, National Examination Board</h4>
            <h5>2016 - 2018</h5>
            <p><em>Orchid Science College</em></p>
            <p> Successfully completed my Higher secondary school level with A grade in Science Faculty.</p>
          </div>
          <div class="resume-item">
            <h4>School Leaving Certificate (SLC) </h4>
            <h5>2015</h5>
            <p><em>Medical Science Secondary School</em></p>
            <p> Successfully completed School level with good Grade. Scored A in the SLC examinations.</p>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Django Developer Intern</h4>
            <h5>May 2, 2023 - July 30, 2023</h5>
            <p><em>Sipalaya Infotech Pvt. Ltd. </em></p>
            <ul>
              <li>Webapp Development - The core responsibility was to implementing features, handling data models, and creating views to deliver a functional and user-friendly web application</li>
              <li>Backend-development - working with server-side technologies and handling data interactions, server logic, and APIs. </li>
              <li>Database Management - designing efficient data models, writing database queries, and ensuring data integrity</li>
              <li>Testing and Debugging - Writing tests to verify the correctness of code and debugging issues when they arise</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Graphic design specialist</h4>
            <h5>2022 - 2023</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
              <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
              <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
              <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
</section><!-- End Resume Section -->

{% endblock body %}